/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));

  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 1.25rem;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: grey;
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-corner {
  -webkit-appearance: none;
  appearance: none;
}

.c-projects-bg {
  background-image: url("../../public/bg/real_development.png");
  filter: blur(0.5rem);
}
